{% extends "base.html" %}

{% block title %}Log In | Content Creator Platform{% endblock %}

{% block content %}
    <h1 class="centered">Looking for someone?</h1>
    <h2 class="centered">Try searching their username, maybe you’ll find it here</h2>
    
    <div class="input-group mb-3" style="max-width: 500px; margin: auto;">
        <input type="text" class="form-control" style="background: linear-gradient(90deg, #102a6b, #5990c0); border: none;" placeholder="Search" aria-label="Search" aria-describedby="button-addon2">
        <button class="btn" type="button" id="button-addon2" style="background: linear-gradient(90deg, #5990c0, #102a6b); color: #ececec; border: none;">
            Search
        </button>

    </div>
    <h4 class>Search result:</h4>

    <div class="row row-cols-1 row-cols-md-4 g-4">
  <div class="col">
    <div class="card h-100" style="border: none;">
      <img src="{{ url_for('static', filename='images/2b433b1b160fd01094ce0cd2dc02e2d5.jpg') }}" class="card-img-top" alt="avatar1">
      <div class="card-body" style="background-color: rgba(1, 81, 132) !important; border: none; color: #ECECEC;">
        <h5 class="card-title">Content Creator 1</h5>
        <p class="card-text">This is a card with information about a specific content creator. This can include: bio, their type, social media links.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100" style="border: none;">
      <img src="{{ url_for('static', filename='images/53be8298333bca79652ea9bb47406fd9.jpg') }}" class="card-img-top" alt="avatar2">
      <div class="card-body" style="background-color: rgba(138, 40, 50) !important; border: none; color: #ECECEC;">
        <h5 class="card-title">Content creator 2</h5>
        <p class="card-text">This is a card with information about a specific content creator. This can include: bio, their type, social media links.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100" style="border: none;">
      <img src="{{ url_for('static', filename='images/chisa⋆_𐙚 ̊.jpg') }}" class="card-img-top" alt="avatar3">
      <div class="card-body" style="background-color: rgba(229, 169, 191) !important; border: none; color: #241a22;">
        <h5 class="card-title">Content creator 3</h5>
        <p class="card-text">This is a card with information about a specific content creator. This can include: bio, their type, social media links.</p>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="card h-100" style="border: none;">
      <img src="{{ url_for('static', filename='images/when-someone-says-im-cute.jpg') }}" class="card-img-top" alt="avatar4">
      <div class="card-body" style="background-color: rgba(42, 46, 112) !important; border: none; color: #ECECEC;">
        <h5 class="card-title">Content creator 4</h5>
        <p class="card-text">This is a card with information about a specific content creator. This can include: bio, their type, social media links.</p>
      </div>
    </div>
  </div>

{% endblock %}